<h2>Overview</h2> 
	
<div class="splitcontentleft">
	<p>
	  Welcome to the admin area!
	  This file is in <%= link_to('/app/views/admin/index.html.erb', "file://#{File.join(Rails.root, '/app/views/admin/base/index.html.erb')}", :class => 'external') %>.<br />You should change it.
	</p>
	Styling is pretty simpel but useful. It all comes from Redmine :).
	  <ul>
      <li>Google: <a href="http://www.google.com">http://www.google.com</a></li>
      <li>More links:
	      <a href="#">Something</a>,
	      <a href="#">Something</a>
	    </li>
	</ul>	

  <div class="box">    
    <h3 class="icon22 icon22-tracker">Nice boxes</h3>
    <ul>
      <li>
        <a href="#">Something</a>:
        info
			</li>
      <li>
        <a href="#">Something</a>:
        info
			</li>
    </ul>
    <p><a href="#">View all</a></p>
  </div>
</div>

<div class="splitcontentright">
	<div class="box">
		<h3 class="icon22 icon22-users">More boxes</h3>	
		<p>
		This: <a href="#">Something</a>, <a href="#">Something</a><br />
		</p>
	</div>
</div>

<div style="clear:both;"></div>