<h2>New <%= singular_name.humanize %></h2>

<%%= simple_form_for(@<%= singular_name %>, :url => [:admin, @<%= singular_name %>], :html => {:class => 'tabular'}) do |form| %>
  <%%= form.error_messages %>

  <%%= render :partial => form %>

    <%%= form.submit t('helpers.submit.create') %>
    <%%= link_to t('helpers.links.back'), admin_<%= plural_name %>_path %>
<%% end %>
